@model IEnumerable<WebApplication28.Models.PointsTable>

@{
    ViewData["Title"] = "Display";
}

<marquee behavior="scroll" direction="left"><h2 class="text-center text-info">
    <img src="~/Images/srh.jpg" height="100" width="100" />
    <img src="~/Images/rcb.jpg" height="100" width="100" /><img src="~/Images/Dc.png" height="100" width="100" />
    &nbsp;&nbsp;&nbsp;&nbsp;<b>Points Table&nbsp;&nbsp;&nbsp;&nbsp;</b><img src="~/Images/mi.png" height="100" width="100" />
    <img src="~/Images/csk.png" height="100" width="100" />
    <img src="~/Images/rr.jpg" height="100" width="100" />
</h2></marquee>
<hr />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark table-borderless">
    <thead>
        <tr>
            <th>
               Team Name 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Played)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Win)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@("/Images/"+item.T.Teamlogo)" width="50" height="50" />
                @Html.DisplayFor(modelItem => item.T.Tname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Played)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Win)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Ptid">Edit</a> |
               
                <a asp-action="Delete" asp-route-id="@item.Ptid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
